{% extends "leiaute.twig" %}

{% block titulo %}Projeto Silex Post{% endblock %}
{% block tituloPost %}Editar Post{% endblock %}

{% block conteudo %}
<form action="{{path('atualizar', {id:post.id})}}" method="post">
  <fieldset>
   <center>
      Id: {{post.id}}<br>
      <input type="hidden" name="id" value="{{post.id}}"><br>
      Título:<br>
      <input type="text" name="titulo" value="{{post.titulo}}"><br>
      Conteúdo:<br>
      <textarea name="conteudo" rows="4" cols="50">{{post.conteudo}}</textarea><br>
      <input type="submit" value="Salvar">
    </center>
  </fieldset>
</form>
{% endblock %}
